<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<h2>A little more about this flat</h2>
<p><%= @flat.description %></p>
<h2>Details</h2>
<p><%= @flat.price_per_night %> <%= @flat.number_of_guests %></p>
<%= link_to 'Back to flats', flats_path %>
